
*, html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

:root {
  --background-color: hsl(230deg, 85%, 100%);
  --text-color: hsl(230deg, 10%, 5%);
  --intro-color: hsl(240deg, 0%, 85%);
  --secondary-color: hsl(240deg 80% 65%);
  --shadow-color: hsl(35deg 0% 61%);
  --font-small: 0.5rem;
  --font-regular: 1rem;
  --font-large: 1.5rem;
  --font-xl: 2rem;
  --spacing-regular: 16px;
  --spacing-small: calc(var(--spacing-regular) / 2);
}

body {
  background-color: hsl(0, 0%, 95%);
  margin: 0;
  font-family: PT sans, Helvetica, sans-serif;
  color: var(--text-color);
  font-size: var(--font-regular);
}

* {
  box-sizing: border-box;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  z-index: 55;
  padding: var(--font-large);
  border-bottom: 1px solid gray;
  background: var(--background-color);
}

section.menu-items {
  /* This is mobile nav */
  display: none;
}

header > nav > a {
  margin: 16px;
  font-size: var(--font-regular);
  text-decoration: none;
  color: var(--text-color);
}

header > nav :first-child {
  margin-left: 8px;
}

header > nav :last-child {
  margin-right: revert;
}

header > nav > a:hover {
  text-decoration: underline;
}

.mobile-nav {
  display: none;
}

#para {
  margin: 0;
  font-size: var(--font-xl);
  font-weight: 700;
}

section {
  scroll-margin-top: calc(100px- * (2 * (var(--spacing-regular))));
  display: flex;
  flex: 1;
  justify-content: space-around;
}

.container {
  position: relative;
  flex-direction: column;
  align-items: center;
}

.container > section h2 {
  text-align: center;
}

.intro {
  display: grid;
  grid-template-columns: 1fr 2fr;
  position: relative;
  background-color: var(--intro-color);
  text-align: center;
  height: 550px;
  color: var(--text-color);
}

span#typewriter.blue {
  font-size: var(--font-xl);
  color: var(--secondary-color);
}

.intro-detail > h1 {
  font-size: var(--font-xl);
  padding: var(--font-regular);
  margin: 0;
}

.intro-detail {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  gap: var(--font-large);
  margin: auto;
  width: 450px;
  height: 500px;
}

#download {
  margin-top: 4rem;
  align-self: center;
  width: 200px;
  display: inline-block;
  background-color: #8ac2ff;
  color: var(--text-color);
  text-decoration: none;
  border: 1px solid red;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#resume {
  font-size: var(--font-large);
  padding: var(--font-small);
  font-weight: 800;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#download:hover {
  transform: translateY(-3px);
  box-shadow: 2px 1px 3px 3px rgb(94, 89, 89);
}

#landing-img {
  margin-top: 60px;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
  width: 620px;
}

.tiles-1 {
  margin-top: 60px;
  padding: 40px var(--spacing-small) 0 var(--spacing-small);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.profile-img {
  display: flex;
  flex: 1;
  justify-content: end;
}

#profile {
  width: 300px;
  background: transparent;
  filter: drop-shadow(2px -3px 5px black);
}

section#tech.tech {
  overflow: visible;
  margin: var(--font-xl);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--font-large);
}

.card ul {
  font-size: var(--font-large);
  padding: 0;
  list-style: none;
}

.card header h1 {
  margin: 0;
}

.card {
  padding: var(--spacing-regular);
  border-radius: var(--spacing-regular);
  color: var(--text-color);
  min-width: 300px;
  text-align: center;
  box-shadow: 3px 3px 6px 5px var(--shadow-color);
  transition: transform 0.4s ease-in, box-shadow 0.3s ease-in;
}

section.card:hover {
  box-shadow: 3px 3px 8px 9px var(--shadow-color);
  transform: translateY(calc(-1 * var(--spacing-small)));
}

.card > header {
  font-size: var(--font-large);
  text-align: center;
}

#tech-head {
  margin: 0 0 3rem 0;
  font-size: 2.5rem;
  text-align: center;
}

.tech-content {
  margin-top: 5rem;
  padding: var(--spacing-regular);
  display: flex;
  flex-direction: column;
}

.about {
  text-align: justify;
  margin-top: var(--spacing-regular);
  display: flex;
  flex-direction: column;
  flex: 2;
  font-size: var(--font-large);
}

.about > p,
.about > h2 {
  margin: var(--spacing-small);
  padding: var(--spacing-small);
}

#Project {
  margin-top: 3rem;
  margin-bottom: var(--font-xl);
  display: flex;
  flex-direction: column;
}

#Project h2 {
  letter-spacing: var(--font-small);
  text-wrap: nowrap;
  margin: var(--spacing-regular);
  padding: var(--spacing-regular);
  font-weight: 700;
  font-size: 3rem;
}

.proj {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: var(--spacing-regular);
  padding: var(--spacing-regular);
}


.card {
  padding: var(--spacing-regular);
  border-
  .proj-1{
    /* min-width: none; */
    width: auto;
    min-width: auto;
  }
  .proj{
    gap: 3rem;
  }
}
