html {
  scroll-behavior: smooth;
}
:root {
  --background-color: hsl(230deg, 85%, 100%);

  --text-color: hsl(230deg, 10%, 5%);
  --intro-color: hsl(240deg, 0%, 85%);
  --font-small: 0.5rem;
  --font-regular: 1rem;
  --font-large: 1.5rem;
  --font-xl: 2rem;
}
body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: var(--font-regular);
}
* {
  box-sizing: border-box;
}
header {
  position: sticky;
  top: 0;
  z-index: 55;
  padding: 16px;
  background: var(--background-color);
  width: 100%;
}

header > nav > a {
  color: inherit;
  margin: 16px;
  font-size: var(--font-regular);
  text-decoration: none;
}
header > nav :first-child {
  margin-left: 8px;
}
header > nav :last-child {
  margin-right: revert;
}

header > nav > a:hover {
  text-decoration: underline;
}
.mobile-nav {
  display: none;
}
@media (max-width: 500px) {
  section.menu-items {
    overflow: hidden;
    height: 0;
    width: 100%;
    display: revert;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: rgb(247, 247, 247);
    transition: height 0.5s ease-in-out;
  }
  section button#close-menu {
    position: absolute;
    top: 10px;
    right: 25px;
    padding: 8px;
    border: none;
    background: transparent;
    font-size: var(--font-xl);
  }
  section.menu-items nav ul > li {
    list-style: none;
    margin: 16px;
    font-size: 2rem;
    padding: 16px;

    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }

  .mobile-nav {
    display: block;
  }
  #nav {
    display: none;
  }
  #menu {
    display: block;

    border-radius: 8px;
    margin-left: auto;
    padding: 5px;
    background-color: var(--background-color);
    color: var(--text-color);
    border-color: var(--text-color);
  }
}
.menu-items {
  display: none;
}

.container > section h2 {
  text-align: center;
}
.container {
  /* margin: -16px; */

  padding: 16px;
  /* margin:; */
}

.intro {
  background-color: var(--intro-color);
  margin: -16px;
  text-align: center;
  padding: 16px;
  color: var(--text-color);
}
#profile-img {
  height: 400px;
  width: 400px;

  filter: drop-shadow(5px -7px 10px black);
  z-index: 3;
}
.qualification {
  padding: 1rem;
  font-size: 1.5rem;
}
.hobbies {
  padding: 1rem;
  font-size: 1.5rem;
}
.tech {
  padding: 1rem;
  font-size: 1.5rem;
}
.tech ul li {
  padding: 0.55rem;
}
.about {
  padding: 1rem;
  font-size: 1.5rem;
}
.Project {
  height: 40%;
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.Project h2 {
  font-size: 2.5rem;
}
a:hover {
  color: rgb(41, 185, 241);
  text-decoration: underline;
}
a {
  text-decoration: none;
}
.social img {
  height: 40px;
  width: 40px;
  margin: auto 16px;
  transition: transform 0.2s 0.2s ease-in;
}
.social a > img:hover {
  transform: scale(1.5, 1.5);
}

.blue {
  font-size: 1.5rem;
  color: rgb(94, 134, 255);
}
.contact {
  display: flex;
  text-align: center;
  align-items: center;
  padding: 1rem;
  margin: auto;
  color: white;
  /* background-color: rgb(255, 244, 228); */
  background-position: center;
  background-size: cover;
  border-radius: 33px;
}
#formval {
  /* background-image: url(https://images.pexels.com/photos/5015227/pexels-photo-5015227.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load); */
  /* background-color: rgb(255, 255, 255); */
  color: var(--text-color);
  border: 1px solid;
  margin: auto;
  padding: 3rem;
  border-radius: 5%;
}
form#formval input,
textarea,
#send {
  border: 0.4px solid;
  background-color: rgb(243, 243, 243);
  border-radius: 5px;
  margin: 0.5rem;
  width: 100%;
}
form#formval input {
  height: 1.5rem;
}
#send {
  border-radius: 6px;
  height: 2rem;
  background-color: rgb(232, 253, 253);
  border: 1px solid;
}
form#formval,
label {
  font-weight: 600;
  color: rgb(88, 88, 88);
  display: block;
}

#formval #send:hover {
  background-color: rgb(206, 238, 238);
}

#formval input:hover,
textarea:hover {
  background-color: white;
}
#formval {
  margin-top: 16px;
}
footer {
  padding: 2rem;
  font-size: 1.5rem;
  text-align: center;
  border-top: 4px solid;
}
@media (max-width: 500px) {
  #profile-img {
    width: 100%;
  }
}
table,
tr,
td {
  border: 1px solid;
}
@media (prefers-color-scheme: dark) {
  body {
    --background-color: hsl(240deg, 80%, 12%);

    --intro-color: hsl(5deg, 0%, 25%);
    --text-color: hsl(230deg, 10%, 100%);
  }
}
